body{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);

    header{
        background-color: rgb(16, 124, 16);
        padding: 15px;
        box-sizing: border-box;
        position: sticky;
        top: 0;
        z-index: 100;
       

        nav{
            display: flex;
            justify-content: space-between;

            div{
                display: flex;
                gap: 10px;

                svg{
                    width: 50px;
                    height: 100%;
                    align-self: center;
                    cursor: pointer;
                }

                h1{
                    margin: 0;
                    display: flex;
                    align-items: center;
                }

                p{
                    margin: 0;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    main{
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        margin-top: 20px;
        
        .banner{
            background-image: url("Assets/Lost colony.jfif");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            box-sizing: border-box;
            width: 90%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: end;

            .text{
                display: flex;
                flex-direction: column;

                p{
                    text-align: center;
                    font-size: 20px;

                    &:first-child{
                        background-color: rgb(209, 227, 9);
                        color: rgb(0, 0, 0);
                    }
                }

                h2{
                    text-align: center;
                    font-size: 50px;
                }

                .buttons{
                    display: flex;
                    justify-content: center;
                    gap: 30px;

                    :first-child{
                        background-color: rgb(14, 187, 40);
                    }

                    :last-child{
                        background-color: rgb(255, 255, 255);
                        color: rgb(0, 0, 0);
                    }

                    button{
                        all: unset;
                        box-sizing: border-box;
                        border-radius: 5px;
                        border: solid 2px;
                        padding: 10px;
                        cursor: pointer;
                    }
                }
                
            }
            
        }
        
    }
}